body {
    background-color: #F3F3F3;
    color: #202020; 
}

html {
    scroll-padding-top: 60px;
}

header {
    height: 60px;
    top: 0;
    width: 100%;
    background-color: #FFDF6C;
    position: fixed;
}

.container-1400 {
    width: 85%;
    margin: 0 auto;
}

nav {
    background-color: #333;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0px;    
}
  
li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

h1, h2, h3, h4, h5{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

h1{
    padding-top: 70px;
}

.paragraph{
    text-align: justify;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.publication{
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.links{
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.links a:visited{
    padding: 3px;
    color: black;
    text-decoration: underline;
}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: center;
}

.left, .middle, .right {
    display: inline-block;
}

canvas{
    margin: auto;
    width: 50%;
    border: 3px solid #FFDF6C;
    padding: 10px;
}

#modelBttn {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    padding: 10px 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background-color: #FFDF6C;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px #999;
  }
  
  #modelBttn:hover {
      background-color: #f8ebbe;
    }
  
  #modelBttn:active {
    background-color: #FFDF6C;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }